/splash.psd
/thumb.psd
/.DS_Store
/sections/image-grid/thumb.psd
/sections/image-grid/splash.psd
/sections/image-grid/.DS_Store
/sections/.DS_Store
.DS_Store
/sections/image-grid/js/.DS_Store
/sections/image-grid/img/.DS_Store